Options -MultiViews
RewriteEngine On

# Handle Angular and React Router
# If an existing asset or directory is requested go to it as it is
RewriteRule ^ - [L]

# If the requested resource doesn't exist, use index.html
RewriteRule . /index.html [L]